h1 {
    color: white;
    margin-left :30px
}

.header * {
    border :solid
}

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    border:rgb(0,0,0);
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}
body
{background-color:rgb(46, 44, 46);
}
body
{
    border:rgb(0,0,2)
}
a:link{
color : white
}
a:visited{
color : white
}
.menu{
    margin-right :30px 
}
.menu a{
    margin-left :5px
}
.menu{
    display : flex;
    justify-content: space-between;
    background-color: #000000;
    padding : 15px;
    font-size : 20px;
    font-family : sans-serif;
    color : #ffffff;
}
body{
    margin:0px;
    background-color:#f7f2f2
}
.grid img{
    border : 2px solid #000000;
    border-radius : 50px;
}
.origami {
    border-radius: 20px;
    background-color: #ffffff;
    padding :30px;
    margin: 25px;
    width: 310px;
    font-family:fantasy;
}
